<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Car Price Prediction</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Car Price Prediction</h1>
      </div>

      <!-- Form section -->
      <div class="form-group text-center">
        <form method="post" action="\predict">
          <h2>Year</h2> <input type="number" class="form-control" name="YearInput", placeholder="eg: 2013">


      <div class="form-group text-center">
          <label for="KmDrivenInput">Kilometer Driven</label>
          <input type="text"  class="form-control" id="KmDrivenInput", placeholder="eg: 123456">
      </div>
      <div class="form-group text-center">
          <label for="FuelTypeInput">Fuel Type</label>
          <select class="form-control" id="FuelTypeInput">
            <option>Petrol</option>
            <option>Diesel</option>
            <option>CNG</option>
          </select>
      </div>
      <div class="form-group text-center">
        <label for="SellerTypeInput">Seller Type</label>
        <select class="form-control" id="SellerTypeInput">
          <option>Individual</option>
          <option>Dealer</option>
        </select>
       </div>
       <div class="form-group text-center">
        <label for="TransmissionTypeInput">Transmission Type</label>
        <select class="form-control" id="TransmissionTypeInput">
          <option>Automatic</option>
          <option>Manual</option>
        </select>
       </div>
       <div class="form-group text-center">
        <label for="OwnerInput">Number of Owner(s)</label>
        <input type="number"  class="form-control" id="OwnerInput", placeholder="eg: 1">
       </div>
       <div class="form-group text-center">
        <label for="PresentPriceInput">Present Price</label>
        <input type="number"  class="form-control" id="PresentPriceInput", placeholder="eg: 11.6">
       </div>
       <div class="form-group text-center">
        <label for="CarNameInput">Car Name</label>
        <input type="text"  class="form-control" id="CarNameInput", placeholder="eg: Honda Activa 125">
       </div>

       <!-- Add a button to activate scraping script -->
       <div class="text-center">
        <p><a class="btn btn-success btn-lg" href="/scrape" role="button">Submit Criterias</a></p>
      </div>
      </div>


</html>
